<html ng-app="app">

	<body ng-controller="CommentContoller">
		
		<div ng-repeat="t in traffic">
			<h2>{{t.subcategory}} {{t.title}} </h2>
			<ul>
				<li ng-repeat="c in comments | {id : t.id}"> {{c}} </li>
			</ul>	
			<form ng-submit="add(c)">
				<input type="email" ng-model="c">	
				<input type="text" ng-model="c">		
				<button type="submit">Save</button>
			</form>
		</div>
		 
	</body>
 	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	 <script src="CommentController.js"></script>
</html>