<html ng-app="app">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>

<script src="js/CommentCtrl.js"></script>
<link href="bootstrap.css" rel="stylesheet" type="text/css">

</head>
<body ng-controller="CommentCtrl">
	<!--REMOVE-->
	 

	<div ng-hide="isLoggedIn">
		<input ng-model="name" class="form-controll"> 
		<input ng-model="password" type="password" class="form-controll">
		<button class="btn btn-info" ng-click="login()">Login</Button>
		<button class="btn btn-warning" ng-click="signup()">Signup</Button>

	</div>

	<div ng-show="isLoggedIn">
		Kommentarer
		<ul>
			<li ng-repeat="c in user.comments">{{c}}</li>
			
		</ul>
		<input ng-model="comment"   class="form-controll">
		<button class="btn btn-info" ng-click="add()">Add</Button>
	</div>

</body>
</html>

