<html ng-app="app">
<head>
 <script src="angular.js"></script>
 <script src="Ctrl.js"></script>
 <link href="bootstrap.css" rel="stylesheet" type="text/css"> 

</head>
<body  ng-controller="Ctrl">
<!--REMOVE-->>

 <div ng-hide="isLoggedIn">
 <input ng-model="name" class="form-controll">
 <input ng-model="password" type="password"i class="form-controll">
 <button class="btn btn-info" ng-click="login()">Login</Button>

 </div>
 
 <div ng-show="isLoggedIn">
 Your are now logged in
 </div>

</body>
</html>

